name: Run Shell Script on Merge with Release Label

on:
  pull_request:
    types: [closed]
    branches:
      - main
jobs:
  run-script-on-label:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Check for 'release' label
        id: label-check
        run: |
          labels=$(curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/labels \
            | jq '.[].name')
          echo "Labels: $labels"
          if [[ $labels != *"release"* ]]; then
            echo "Release label not found, exiting."
            exit 1
          fi

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Execute Shell Script
        run: ./test.sh
